$color: get-color('grey',3,1);

input[type=text], input[type=submit] {
  font-size: modular-scale(1);
  padding:1rem;
  line-height: modular-scale(1);
}

input[type=text] {
  background-color: get-color('grey',0);
}

input.submit {
  background-color: get-color('azure',2);
  &:hover {
    background-color: get-color('azure',3);

  }
}

.select-wrapper {
  overflow: hidden;
  width:100%;
  border-radius: $border-radius-sm;
  background-color: get-color('grey',0,1);
  border: 1px solid get-color('grey',1,1);
  margin-bottom: 1em;
  position: relative;
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    height: 100%;
    padding: 1em; /* If you add too much padding here, the options won't show in IE */
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
    color:$color;
  }
  &:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size:2em;
    position: absolute;
    right:0.5em;
    top:0;
    color: $color;
  }
}

.form-label {
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: left !important;
  text-indent: 1rem;
}