@import "small";
@import "medium";
@import "large";
@import "x_large";
@import "grid";
@import "forms";

article {
  padding:1em 0;
}

footer {
  height:50vh;
  @include texture(0, #333, #555, 48, 1);
}

.section {
  h1, p {
    text-align: center;
  }
  //height:100vh;
}

.padding {
  padding:1em;
}