/*@import "small";
@import "medium";
@import "large";
@import "x_large";*/
@import "grid";
@import "forms";

footer {
  @include texture(0, #333, #555, 48, 1);
  position:relative;
  padding: 1em;
  
}

.section {
  padding-top: 1em;
  h1, p {
    text-align: center;
  }
  h1 {
    margin-bottom: 0;
  }
  //height:100vh;
}

.padding {
  padding:1em;
}




