@import "small";
@import "medium";
@import "large";
@import "x_large";
@import "grid";
@import "forms";

footer {
  @include texture(0, #333, #555, 48, 1);
  position:relative;
  padding: 1em;
  .disclaimer {
    p {
      font-size: 0.5em;
      text-align: left;
      color: get-color('grey',2) !important;
    }
    h6 {
      margin-bottom: 0.5em;
    }
  }
  a {
    color: get-color('orange',1);
    font-size: 0.5em;
    &:visited {
      color: get-color('orange',1) !important;
    }
  }

}

.section {
  padding-top: 1em;
  h1, p {
    text-align: center;
  }
  h1 {
    margin-bottom: 0;
  }
  //height:100vh;
}

.padding {
  padding:1em;
}

#section-1 {
  h1 {
    margin-bottom: 0.5em;
  }
  p {
    text-align: left;
  }
  ul {
    list-style: square;
    list-style-position: inside;
    text-indent: -2em;
    margin-left: 2em;
    margin-bottom: 1em;
  }
}




