.carousel-navigator {
  padding: 1em;
  h5 {
    background-color:get-color('azure',1,0.8);
    padding:0.5em;
    text-transform: uppercase;
    color: white;
  }
  .swiper-container {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}