.flip-container {
  perspective: 1000px;
  flex:100%;
  padding:1em;
  height:20em;

  @include media($bp-small-minor-1) {
    flex:50%;
  }
  @include media($bp-medium) {
    flex:33%;
    height:15em;
  }
  &:hover .flip, &.active .flip {
    transform: rotateY(180deg);
  }
  .flip {
    perspective: 1000px;
    transition: $transition-medium;
    transform-style: preserve-3d;
    position: relative;
    height:100%;
    text-align: center;
    p {
      color: get-color('grey',4);
    }
  }
  .front {
    perspective: 1000px;
    &:after {
      content:' ';
      width:100%;
      height:100%;
      display: block;
      background: linear-gradient(rgba(0,0,0,0.0) 20%, rgba(0,0,0,0.8));
      position: absolute;
      top:0;
      left:0;
      transform: translateZ(1px);
      backface-visibility: hidden;
    }
    h4 {
      color: white;
      position: absolute;
      bottom:0;
      z-index: 1000;
      transform: translateZ(2px);
      backface-visibility: hidden;
      text-align: center;
      width: 100%;
    }
  }
  .back {
    background-color: get-color('blue',0);
    transform: rotateY(180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .front, .back {
    background-size: cover;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    padding:1em;
  }
}

#approachesList {
  display:flex;
  flex-flow: row wrap;
}