.horizontal-slides {
  article {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
  }
  .swiper-container {
    width:100%;
    height:100%;
    flex:1;
    h1, h2, h3, h4, h5 {
      text-align: center;
    }
    .slide-button {
      position: absolute;
      top:50%;
      z-index: 1000;
      font-size: 3em;
      &.next {
        right:0;
      }
      &.previous {
        left: 0;
      }
    }
  }
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
  }

  .swiper-slide {
    box-sizing: border-box;
    padding: 1em;
  }
}
