.logos {
  width:50%;
  margin: 0 auto;
  height:70px;
  margin-top: 1em;
  @include media($bp-small-minor-1) {
    height:150px;
  }
  @include media($bp-large) {
    height:250px;
  }
  ul {
    height:100%;
    text-align: center;
    li {
      display: inline-block;
      height: 100%;
      padding: 0.5em;
      @include media($bp-small-minor-1) {
        width: 150px;
      }
      @include media($bp-large) {
        width: 250px;
      }
    }
  }
  img {
    height: 100%;
    max-width: 100%;
  }
}
