.logos {
  width:100%;
  margin: 0 auto;
  height:4.5em;
  ul {
    height:100%;
    text-align: center;
    li {
      display: inline-block;
      height: 100%;
      padding: 0.5em;
    }
  }
  img {
    height: 100%;
    max-width: 100%;
  }
}
