.partner-logos {
  padding-top: 1em;
  position:absolute;
  bottom:8em;
  right:1em;
  max-width: 25%;

  p {
    margin-bottom: 0;

    font-size: 0.5rem;
    text-align: center;
    font-weight:bold;
  }
}

.hero {
  .partner-logos {
    background-color: rgba(255,255,255,0.5);
    border-radius: $border-radius-sm;
    p {
      color:get-color('grey',3);
    }
  }
}

footer {
  .partner-logos {
    p {
      color: get-color('grey',0);
    }
  }
}