a.corner-ribbon{
  width: 12.5em;
  background: get-color('azure',2);
  position: fixed;
  text-align: center;
  line-height: 3em;
  letter-spacing: 1px;
  color: rgba(255,255,255,1);
  z-index: 2000;
  top: 1.5em;
  right: -3em;
  left: auto;
  transform: rotate(45deg);
  font-weight: bold;
  border: 1px solid black;
  display:none;
  transition:all $transition-short linear;
  @include media($bp-small) {
    display:block;
  }
  &:hover {
    background-color: get-color('azure',3);
    font-size: 1.05em;
  }
  &.scrolled {
    background-color: rgba(64,182,223,0.4);
    color:rgba(255,255,255,0.2);
    border: none;
    &:hover {
      background-color: rgba(0,158,212,1);
      color:rgba(255,255,255,1);
    }
  }
}