
.primary-navigation {
  width:100vw;
  background-color: rgba(200,200,200,0.5);
  box-sizing: border-box;
  transform: translate3d(0,0,0);
  transition: background-color 0.3s ease;
  position: absolute;
  top:0;

  .navigation-wrapper > .container {
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 8em;

    // Transitions
    transition: all 0.3s ease;
  }

  .logos {
    flex: 12;
    height:100%;
    ul {
      display:flex;
      flex-direction: row;
      height:100%;
      li {
        height:100%;
        flex: 0 1 auto;
        margin-right: 0.5em;
      }
    }
    img {
      height: 100%;
    }
  }
  .navigation-menu-button {
    flex:1;
    color: get-color('grey',0);
    @include media ($bp-medium) {
      display: none;
    }
  }

  ul.navigation-menu {
    position:absolute;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: $padding-default;
    width: 100vw;
    height:100vh;
    background-color:rgba(50,50,50,0.9);
    visibility: inherit;

    @include media ($bp-medium) {
      height: auto;
      display: block;
      margin: 0;
      padding: 1em;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;

    @include media ($bp-medium) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
      margin-right: 1em;
    }
  }

  li.nav-link a {
    display: inline-block;
    color:white;
    font-family: $font-headings;
    text-transform: uppercase;

    @include media ($bp-large) {
      padding-right: 1em;
    }
  }
  &.inactive {
    background-color: rgba(25,25,25,0.9);
    .navigation-wrapper > .container { // Add 'active' class to .primary-navigation when scrolling
      height:4em;
      padding-top:0.5em;
      padding-bottom:0.5em;
    }
    .navigation-menu {
      @include media ('768px') {
        visibility: hidden;
      }
    }
  }
}

